/* **** **** */

.instruction {
color: #0E9278;
}
 input[type=text], input[type=email], input[type=password] {
            color: white;
          }
          .form.tabs{
          margin: 15px auto !important;
          background: transparent !important;
          }
          .tabs .tab a {
            font-size: 18px !important;
            text-overflow: unset !important;
            color: #909090 !important;

          }
          .tabs .tab a:hover, .tabs .tab a.active{
            color: #e04245 !important;
          }
               /* label color 
   .input-field label {
     color: #9e9e9e;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
     color: #0E9278 !important;
   }
   /* label underline focus color */
    .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus ,.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
     border-bottom: 1px solid #0E9278 !important;
     box-shadow: 0 1px 0 0 #0E9278 !important;
   }
   /* valid color */
   .input-field input[type=text].valid, .input-field input[type=email].valid ,.input-field input[type=password].valid {

     border-bottom: 1px solid #E04245 !important;
     box-shadow: 0 1px 0 0 #E04245 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid, .input-field input[type=email].invalid , .input-field input[type=password].invalid {
     border-bottom: 1px solid #E04245 !important;
     box-shadow: 0 1px 0 0 #E04245 !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color:#E04245 !important;
   }


input[type=email].valid:not(.browser-default),input[type=password].valid:not(.browser-default), input[type=text].valid:not(.browser-default) {
border-bottom: 1px solid #E04245 !important;
             -webkit-box-shadow: 0 1px 0 0 #E04245 !important;
            box-shadow: 0 1px 0 0 #E04245 !important;
}
input {
    height: 2.5rem !important;
	border-bottom: 1px solid #9e9e9e !important;
	margin: 0px 0px 12px 0px !important;
}
input:focus {
border-bottom: 1px solid #0E9278 !important;
}
input.btn {
	border: none !important;
}
/*** *****
.login-pf body {
    background: #0f0f0f url("../img/bg.png") center center no-repeat;
    background-size: cover;
	height: 100vh;
}*/
.login-pf body{
background: url("../img/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;}
body:before {
        content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#000000);
    opacity: .6;
    height: 100%;
    display: block;
  }
  #kc-form-login {
	  padding-top:50px !important;
  }
/*
input:-webkit-autofill {
    
}
*/
.login-pf a, .login-pf a:hover, #kc-info span {
	color: white !important;
}
label {
    font-size: 1rem;
    color: #2BBBAD;
}
input[type=password]:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: white;
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0 1000px transparent inset !important;
	box-shadow: inset 0 0 0 1000px transparent!important;
	color: white !important;
}
.form-group.row{
	margin-bottom: 0px !important;
}
   .alert-error {
    background-color: transparent;
    border-color: #2bbbad;
    color: white;
	border: 1px solid #2bbbad;
    padding: 10px;

}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 20px;
    top: 30px;
    width: 200px;
    padding: 2px;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 1px 11px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display:block;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}

#kc-locale-dropdown a {
    color: #fff;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 5px;
}

a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
}

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}



.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}
input[type="submit"]{
	    float: right;
    line-height: 0px;
}
#kc-form-buttons {
	float: right;
}
/*
#kc-logo-wrapper {
    background-image: url("../img/ababil-logo2x.png");
    background-repeat: no-repeat;

    height: 57px;
    width: 125px;
}

#kc-logo-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;

}
*/
#kc-logo-wrapper img {
    /* left: 20px; */
    /* top: 25px; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* position: absolute; */
    /* top: 20px; */
    /* left: 20px; */
    /* width: 125px; */
    /* vertical-align: middle; */
    /* height: 100%; */
    padding: 20px 0px;
    width: 8em;
}
#kc-form-login, #kc-register-form {

    background: rgba(255,255,255,0.04);
}
#kc-register-form {
    padding: 10px 30px!important;
    }
    #kc-form-login{
        padding: 50px 30px!important;
        margin-top: 40px;
        }

        #kc-registration span {
        color: white !important;}
        #kc-registration span a {
        color: #2BBBAD !important;
        }

/*
#kc-content {
	background: rgba(255,255,255,0.03);


}
*/
/*
div.kc-logo-text {
    background-image: url("../img/keycloak-logo-text.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}*/


div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #fff;

    white-space: nowrap;
    margin: 0 auto;
        display: block;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#kc-content {
    position: relative;
}

#kc-content-wrapper {
    overflow-y: hidden;
}

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
    margin-top: 5px;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial {
    width: 150px;
}

.zocial:hover {
    color: #fff !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;

    font-family: "Open Sans", sans-serif;
    font-weight: normal;

    box-shadow: none;
    text-shadow: none;
}

.zocial.google {
    background-color: #dd4b39 !important;
}

.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.microsoft:hover,
.zocial.stackoverflow:hover,
.zocial.linkedin:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft {background-color: #0052a4; color: #fff;}
.zocial.microsoft:before { content: "\f15d"; }

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }
/*
    #kc-logo-wrapper {
        position: absolute;
        top: 50px;
        right: 50px;
    }
*/
    .login-pf .container {
     /*   padding-right: 80px; */
    }

    #kc-locale {
        position: relative;
        width: 200px;
        left: -230px;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {

    #kc-logo-wrapper {
        background-position: center;
        width: 100%;
        margin: 20px 0;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: center;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: inline-block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 10px;
        right: 0px;
        text-align: right;
        z-index: 9999;
    }
}


@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
       /* padding-top: 60px;
 */
    }
}
@media (min-width: 768px) {
.login-pf .container .details {
     border-left: none;
     padding-left: 20px;
}
}